<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Contact Page</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Menu</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/home">Home</a>
    <a href="/add">Properties</a>
    <a href="/roommate">Find a roommate</a>
    <a href="/account">Manage Your Account</a>
    <a href="/resource">Resources</a>
    <a href="/contact">Contact Us</a>
  </div>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

function msg() {
  window.location.href = "/log";
}
</script>
</head>
<body>
  <img src="unt housing logo 4.png" alt="UNT Student Off-Campus Housing Logo" style="width:300px;height:90px;">
  <form>
  <input type="button" value="Sign in/Sign up" onclick="msg()">
</br>
</br>
</br>
  <h1>Contact Page</h1>
  <div class="contact-info">
    <h2>Customer Support</h2>
    <p>Email: support@unthousing.com</p>
    <p>Call: 940-928-2845</p>
    <h2>Contact UNT Off-Campus Housing</h2>
    <p>1155 Union Circle</p>
    <p>Room B120</p>
    <p>Denton, TX 76205</p>
    <h2>Advertise Your Property</h2>
    <p>Email: advertise@unthousing.com</p>
    <p>Call: 940-928-2845</p>
    <h2>Billing</h2>
    <p>Email: billing@unthousing.com</p>
    <p>Call: 940-928-2845</p>
  </div>
  <script src="script.js"></script>
</body>
<style>
body {
  background-color: #8b928b;
  background-image: url("top.png");
  background-repeat: no-repeat;
}
.dropbtn {
    background-color: #454545;
    color: white;
    padding: 4px 52.5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    font-family: Verdana;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #36ab3a;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Verdana;
    font-size: 14px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #36ab3a;}

.show {display: block;}

input[type="button"] {
  background-color: #454545;
  color: white;
  padding: 4px 52.5px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  font-family: Verdana;
  margin: -20px 1220px;
}

img {
  display: block;
  margin:-60px auto;
}
</style>
</html>
