<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form method="post" action="/register">
  <div class="container">

    <h1>Register</h1>

    <hr>


    <label for="firstName"><b>First Name</b></label>
    <input type="text" placeholder="First Name" name="firstName" id="firstName" required>
    <label for="lastName"><b>Last Name</b></label>
    <input type="text" placeholder="Last Name" name="lastName" id="lastName" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" id="email" required>
    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Password" name="password" id="password" required>
    <label for="confirmPassword"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required>
    <label for="gender"><b>Gender</b></label>
      <input type="text" id="gender" name="gender" placeholder="Enter your gender">
      <label for="smoke"><b>Smoke</b></label>
      <input type="text" id="smoke" name="smoke" placeholder="Enter your smoking preference">
      <label for="guest"><b>Guest</b></label>
      <input type="text" id="guest" name="guest" placeholder="Enter your guest preference">


      <label for="status"><b>Status</b></label>
      <input type="text" id="statuss" name="statuss" placeholder="Enter your status">
      <label for="pets"><b>Pets?</b></label>
      <input type="text" id="pets" name="pets" placeholder="Enter your pet preference">
      <label for="school"><b>School</b></label>
      <input type="text" id="school" name="school" placeholder="Enter your school name">
      <label for="program"><b>Program</b></label>
      <input type="text" id="program" name="program" placeholder="Enter your program">
      <label for="gradyear"><b>Graduation Year</b></label>
      <input type="text" id="gradyear" name="gradyear" placeholder="Enter your graduation year">
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="login.html">Sign in</a>.</p>
  </div>
</form>



</body>
<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #1a6147;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn {
  background-color: #1a6147;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: #1fbd4e;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f7f7f7;
  text-align: center;
}
</style>

</html>
